* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_4 {
  width: 100%;
  height: 1233px;
  background: rgba(55,66,98,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v32_30 {
  width: 610px;
  height: 378px;
  background: url("../images/v32_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 933px;
  overflow: hidden;
}
.v32_29 {
  width: 610px;
  height: 360px;
  background: rgba(179,140,82,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_31 {
  width: 580px;
  height: 333px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_27 {
  width: 550px;
  height: 307px;
  background: url("../images/v32_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 30px;
  overflow: hidden;
}
.v32_57 {
  width: 500px;
  height: 50px;
  background: rgba(179,140,82,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  overflow: hidden;
}
.v32_32 {
  width: 522px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 44px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v32_33 {
  width: 745px;
  height: 719px;
  background: url("../images/v32_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 70px;
  overflow: hidden;
}
.v32_34 {
  width: 745px;
  height: 698px;
  background: rgba(179,140,82,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_35 {
  width: 708px;
  height: 646px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 18px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_36 {
  width: 671px;
  height: 595px;
  background: url("../images/v32_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 36px;
  overflow: hidden;
}
.v32_40 {
  width: 562px;
  height: 60px;
  background: rgba(179,140,82,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 92px;
  overflow: hidden;
}
.v32_39 {
  width: 335px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 205px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: center;
}
.v32_43 {
  width: 610px;
  height: 305px;
  background: url("../images/v32_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 648px;
  left: 933px;
  overflow: hidden;
}
.v32_44 {
  width: 610px;
  height: 280px;
  background: rgba(179,140,82,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_45 {
  width: 580px;
  height: 259px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v32_46 {
  width: 550px;
  height: 239px;
  background: url("../images/v32_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 30px;
  overflow: hidden;
}
.v32_54 {
  width: 500px;
  height: 50px;
  background: rgba(179,140,82,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  overflow: hidden;
}
.v32_56 {
  width: 450px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 80px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
